* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Roboto", "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

li {
  list-style: none;
}
