html {
  scroll-behavior: smooth;
}

* {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
